<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Gestion Colegio!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('flatUI/css/vendor/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('flatUI/css/flat-ui.min.css') }}" rel="stylesheet">
        <link href="{{ asset('flatUI/docs/assets/css/demo.css') }}" rel="stylesheet">
        <link href="{{ asset('Resources/main.css') }}" rel="stylesheet">
    {% endblock %}

</head>
<body style="background: #ecf0f1">
{% block body %}{% endblock %}
{% block javascripts %}
    <!--[if lt IE 9]>
    <script src="{{ asset('flatUI/js/vendor/html5shiv.js') }}"></script>
    <script src="{{ asset('flatUI/js/vendor/respond.min.js') }}"></script>
    <![endif]-->
    <script src="{{ asset('flatUI/js/vendor/jquery.min.js') }}"></script>
    <script src="{{ asset('flatUI/js/flat-ui.min.js') }}"></script>
{% endblock %}
</body>
</html>